*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

/*--------navbar----------*/

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    background-color: #111111;
}

.container__nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 96%;
    height: 80%;
}

.nav__home{
    color: #c8c8c8;
    font-size: 1.4rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.search{
    display: none;
}

.nav__inp{
    all:unset;
    background-color: #d1d1d1;
    padding: 3px;
    border-radius: 8px;
    border: 2px solid transparent;
    width: 150px;
    margin-right: 20px;
}

.nv-bt{
    background-color: #7c7c7c;
    box-shadow: 0px 2px 2px 2px #00000087;
    width: 70px;
    height: 32px;
    border-radius: 8px;
    border: none;
}

.nv-bt:active{
    background-color: #292727;
}

/*---------------narbav end----------------*/

/*---------------main selection----------------*/


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 92.8vh;
    background-color: #2e2e2e;
    container-type: inline-size;
    container-name: man;
}

.movies-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.ct-search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    width: 90%;
    height: 70px;
    margin-top: 200px;
    border-radius: 18px;
}

.ct-search form{
    display: Flex;
    justify-content: Center;
    align-items: Center;
    width:100%;
    height: 100%;
}

.ip-search{
    all:unset;
    background-color: #dedede;
    padding: 3px;
    border-radius: 8px;
    border: 2px solid transparent;
    box-shadow: 0px 2px 2px 3px #0000003b;
    margin-left:7px ;
    width: 55%;
}

.bt-mv{
    background-color: #7c7c7c;
    box-shadow: 0px 2px 2px 2px #0000003b;
    width: 25%;
    height: 32px;
    border-radius: 8px;
    border: none;
    margin-left: 10px;
}

.bt-mv:active{
    background-color: #72a8f4;
}

.movi-card{
    display: flex;
    position: relative;
    background: #518de1;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 16px #000;
    width: 45%;
    height: 450px;
}

.movi-card a{
    color: #eeeded;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.movi-card img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.movi-card div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    bottom: -0px;
    background-color: #00000095;
    position: absolute;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.movie-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.perfil-ot{
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: auto;
}

.peli-post{
    width: 80%;
    height: 100%;
}

.peli-post img{
    width: 100%;
    height: 100%;
}

.title{
    margin-top: 28px;
    margin-bottom: 20px;
}

.text{
    width: 90%;
    height: 50%;
}

.text p{
    color: #c8c8c8;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.text , h1, h3, h4{
    color: #100f0f;
    font-family: Arial, Helvetica, sans-serif;
}


/*-----------main end----------*/

/*------------container-main----------*/


@container man (min-width: 700px) {
    .ct-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
    }

    .ct-search form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ip-search{
        width: 55%;
    }

    .bt-mv{
        width:20%;
    }

    .movies-list{
        gap: 40px;
    }

    .movi-card{
        width: 20%;
    }

    .movi-card div{
        height: 15%;
    }


    .perfil-ot{
        flex-direction: row;
        width: 80%;
        height: auto;
    }

    .peli-post{
        display: flex;
        width: 50%;
        height: 48rem;
        margin-top: 80px;
        border-radius: 8px;
        margin-right: 27px;
    }

    .peli-post img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    .text{
        width: 90%;
        height: 50%;
    }
}

